VAGRANTFILE_API_VERSION = "2"
Vagrant.require_version ">= 1.5.0"

app_name = "myapp"

Vagrant.configure(VAGRANTFILE_API_VERSION) do |config|

    if Vagrant.has_plugin?("vagrant-berkshelf")
        config.berkshelf.enabled = true
    else
        puts "ERROR: The vagrant-berkshelf plugin is not installed!"
        puts "You can install it now by running: vagrant plugin install vagrant-berkshelf"
        exit 1
    end

    if Vagrant.has_plugin?("vagrant-hostmanager")
        config.hostmanager.enabled = true
        config.hostmanager.manage_host = true
    end

    if Vagrant.has_plugin?("vagrant-omnibus")
        #config.omnibus.chef_version = :latest
    end

    config.vm.box = "chef/ubuntu-14.04"
    config.vm.hostname = "#{app_name}.dev"
    config.vm.network "private_network", ip: "10.100.100.101"

    config.vm.provider :provider do | provider |
        provider.name = config.vm.hostname
    end

    config.vm.provision :chef_solo do |chef|

        chef.json = {

            "lampbase" => {
                "db_name"          => app_name,
                "db_username"      => "#{app_name}_user",
                "db_password"      => "#{app_name}_pwd",
                "db_root_password" => "root_pwd"
            },

            "php" => {
                "directives" => {
                    "display_errors"  => "On",
                    "error_reporting" => "32767", # E_ALL
                    "date.timezone"   => "UTC"
                },
                "packages" => [
                    "php5-mcrypt" # Any additional PHP packages your app requires
                ]
            }

        }

        chef.run_list = ["recipe[lampbase]"]

    end

end
