VAGRANTFILE_API_VERSION = "2"
Vagrant.require_version ">= 1.5.0"

app_name = "myapp"

Vagrant.configure(VAGRANTFILE_API_VERSION) do |config|

    # Allow Berkshelf to hijack the Vagrant provisioning workflow
    config.berkshelf.enabled = true

    # Ensure the latest version of Chef is installed on the guest VM
    # Comment out this line if you don't have the vagrant-omnibus plugin installed
    config.omnibus.chef_version = :latest

    # Choose your preferred OS
    config.vm.box = "chef/ubuntu-14.04"

    # Configure the FQDN
    config.vm.hostname = "#{app_name}.localhost.dev"

    # Access the VM locally via this IP
    config.vm.network "private_network", ip: "10.100.10.101"

    config.vm.provision :chef_solo do |chef|

        chef.json = {

            lampbase: {
                app_name: app_name,
                db_name: app_name,
                db_username: app_name,
                db_password: app_name
            },

            mysql: {
                # System passwords; you may want to set these to something more secure
                server_root_password: "rootpass",
                server_debian_password: "debpass",
                server_repl_password: "replpass"
            }

        }

        chef.run_list = ["recipe[lampbase::default]"]

    end

end
